<launch>

    <arg name="robot_head_frame"/>
    <arg name="semaphore_debug" default="False"/>

    <node pkg="hri_engagement" name="engagement_node" type="engagement_node" output="screen">
        <param name="robot_head_frame" value="$(arg robot_head_frame)"/>
        <param name="semaphore_debug" value="$(arg semaphore_debug)"/>
    </node>

    <node name="look_at_relay" pkg="topic_tools" type="relay" args="/look_at /look_at_wildcard"/>

</launch>
