<launch>

    <arg name="semaphore_debug" default="False"/>
    <arg name="robot_head_frame" default="/camera_link" />

    <node pkg="hri_engagement" name="engagement_node" type="engagement_node" output="screen">
        <param name="robot_head_frame" value="$(arg robot_head_frame)"/>
        <param name="semaphore_debug" value="$(arg semaphore_debug)"/>
    </node>

</launch>
