<launch>

    <arg name="robot_gaze_frame" default="sellion_link" />

    <node pkg="hri_engagement" name="engagement_node" type="engagement_monitor" output="screen">
        <param name="reference_frame" value="$(arg robot_gaze_frame)"/>
        <!-- field of view of the robots and humans, *in radians* -->
        <param name="field_of_view" value="1.0" />
        <!-- threshold for assessing mutual engagement -->
        <param name="engagement_threshold" value="0.5" />
    </node>

</launch>
